<!DOCTYPE html>
<html>
<head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <link href='https://fonts.googleapis.com/css?family=PT+Mono|VT323' rel='stylesheet' type='text/css'>
    <style>
        body {
            font-family: 'PT Mono', monospace;
        }
        h1 {
            font-family: 'VT323', serif;
            font-size: 20px;
            color: #f44c4c;
        }
        h2 {
            font-family: 'VT323', serif;
            font-size: 20px;
            color: #5ad012;
        }
        h3 {
            font-family: 'VT323', serif;
            font-size: 30px;
            color: #f44c4c;
        }
        p {
            font-size: 18px;
        }
        small {
            font-size: 14px;
        }
    </style>
</head>
<body>
    <img src="http://www.chloeunrau.com/images/facset/pupugichan.png" width="600px" height="305px"/>
    <h1><%= @user.username %>,</h1>
    <h2>pupugi deigns to inform you...</h2>