<div class="welcome lastwelcome">
  <h4>>> edit user(<a href="#"><%= @user.username %></a>) | or (<%= link_to 'go back', user_path %>)</h4>
</div>

<%= render 'errors' %>

<% if @user == current_user or current_user.id == 1 %>
  <%= render 'form' %>
<% end %>
