<div class="welcome lastwelcome">
  <h4>>> edit user(<a href="#">user</a>) | or (<a href="../">go back</a>)</h4>
</div>

<%= render 'form' %>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>
