<div class="welcome lastwelcome">
  <h4>>> create_new(user) | or (<a href="../">go back</a>)</h4>
</div>

<% if @user.errors.any? %>
    <div class="welcome errors">
      <h4>>> <%= pluralize(@user.errors.count, 'error') %> with your request:</h4>
      <h4>>> </h4>
      <% @user.errors.full_messages.each do |msg| %>
          <h4>>> <%= msg %></h4>
      <% end %>
    </div>
<% end %>

<%= render 'form' %>
