<div class="welcome">
  <h4>>> show_users(all)</h4>
  <h4>>> </h4>
</div>

<div class="all-users">

  <% @users.each do |user| %>

    <%= link_to image_tag(user.picture), user_path(user) %>

  <% end %>

</div>