<div class="welcome lastwelcome">
  <h4>>> ai.message: "<%= get_random_message %>"</h4>
  <h4>>> <%= notice %></h4>
  <h4>>> show_events(upcoming) | link(<a href="/old">show past events</a>)</h4>
</div>

<%= render @events %>

<div class="welcome">
  <h4>>> show_users(all)</h4>
  <h4>>> </h4>
</div>

<%= render 'user' %>