
//               (__)
//              ⊂(oo)⊃
//        /-----/ VV
//       / |      |
//      *  ||vv--||
//         ||    ||
//
// cow dracula's sassy styles




// Colours
$white: #ffffff;
$yellow: #faf21b;
$gold: #b7ba58;
$hackergreen: #72ee7b;

$grey1: #8c8c8c;
$grey2: #7d7d7d;
$grey3: #4c4c4c;
$grey4: #383838;

$ylinkn: #c1ee72;
$ylinkh: #9ac351;
$ylinka: #5a7e1c;

$glinkn: #bfbfbf;
$glinkh: $white;
$glinka: $white;

// Images
$headerimg: url('header.png');
$headertile: url('header-bg.png');
$buttonsmall: url('small-button.png');
$buttonbig: url('header-button.png');




// Global Styles

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  background: $grey3 $headertile repeat-x;
  color: $grey2;
  font-family: monospace;
  font-size: 14px;
  font-weight: normal;
}
a, a:link {
  color: $ylinkn;
  text-decoration: none;
}
a:hover {
  color: $ylinkh;
}
a:active {
  color: $ylinka;
}

h4 {
  font-size: 18px;
  font-weight: normal;
  margin: 4px 0 4px 0;
}

label {
  color: $white;
}

input, textarea {
  width: 100%;
  max-width: 100%;
  min-height: 26px;
  margin: 5px 0 8px 0;
  background-color: $grey4;
  border : 0;
  border-radius: 4px;
  font-size: 16px;
  color: $yellow;
  outline: none;
}

input {
  padding: 3px 6px;
}

textarea {
  min-height: 200px;
  padding: 6px;
}




// IDs

#container {
  width: 640px;
  margin: 0 auto 40px auto;
}

#header {
  width: 640px;
  height: 270px;
  background-image: $headerimg;
}

#content {
  margin: 0 0 40px 0;
}

#footer {

  a, a:link {
    color: $glinkn;
  }
  a:hover {
    color: $glinkh;
  }
  a:active {
    color: $glinka;
  }
}




// Classes

.welcome {
  margin: 0;
  color: $hackergreen;
}
.lastwelcome {
  margin-bottom: 40px;
}

.button-small {
  width: 150px;
  height: 45px;
  background: $buttonsmall top;
  color: $grey4;
  cursor: pointer;
  outline: none;
}
.button-small:hover {
  background-position: center;
}
.button-small:active {
  background-position: bottom;
}
.button-small:focus {
  color: $gold;
}