<!DOCTYPE html>
<html>
<head>
  <title>Factory Reset</title>
  <link href='http://fonts.googleapis.com/css?family=PT+Mono|VT323' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="container">

  <div id="header"></div>

  <div class="welcome">
    <h4>>> user recognized: (<a href="#">user</a>) (<a href="#">log out</a>)</h4>
  </div>

  <div id="content">
    <!-- yield renders the page content -->
    <%= yield %>
  </div>

  <div id="footer">
    <h4>>> Factory Reset is a small gaming group in Vancouver BC</h4>
    <h4>>> This website is created and owned by <a href="http://www.chloeunrau.com" target="_blank">Chloe Unrau</a>.</h4>
  </div>

</div> <!-- container -->
</body>
</html>